
  .input-border-module{
    margin-top:-5px;
    border: none;
    font-weight: bolder;
    
  }
  .form-control.ng-invalid{
    background-image: none;
    border-color: lightgray
  }
  
  .text-muted { color: red !important; }
  
  .form-control.ng-valid{
    border-color: lightgray;
    background-image: none;
  }
  
  .input-border-submodule{
    margin-top:-5px;
    border: none;
    outline: none; 
  }
  
  .input-border-module:focus, .input-border-submodule{
  outline: none;
  }
  
  .form-check-input{
    
    height: 1.6rem;
    width: calc(3rem + 0.5rem);
    background-color: white;
  }
  
  .form-check-input.ng-valid:checked {
    background-color: rgb(32,168,216);
  }
  
  .was-validated .form-check-input:valid, .form-check-input.is-valid, .form-check-input.ng-valid {
    border-color: rgb(32,168,216);
  }
  
  .color-light-blue{
  color: rgb(32,168,216);
  font-weight: 600;
  }
  
  .space{
    padding-left: 60%;
    padding-right: 130px;
    text-align: center;
  }
  
  .row-buttons {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 17px;
    margin-right: 53px;
    float: right;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-outline-primary:hover {
    border: 0px;
    color: white;
    background-color: #1f5a16;
  }
  
  .text-left{
    margin-left: 30px !important;
  }

  // .card {
  //   border: 0 !important;
  // }
  // .btn-primary:hover {
  //   border: 1px solid #20a8d8;
  //   color: #20a8d8;
  //   background-color: white !important;
  // }
  
  .row>*{
    max-width: 99% !important;
  }
  
  .form-check-input.ng-valid:checked {
    background-color: #1f5a16;
    border-color: #1f5a16;
  }

  .modelBox.model-header{
    color: #4b4c4d;
    font-weight: 500;
    }
    .load-text{
    margin: 18px;
    font-weight: 500;
    font-size: 16px;
    
    }
    .modelBox{
    background: #fff;
    padding: 10px15px;
    border-radius: 5px;
    }

    .modal-body{
    display: block;
    }

    .modal-dialog.modal-boxAdduser.modal-primary {
      display:flow-root;
      margin-left: 63%;
      position: relative;
      // width: 100%;
      margin-top: 0rem !important;
      // pointer-events: none;
      top: 0px;
      // float: right;
      
    }