<div class="first">
  <div class="bar responsive-display col-12">
    <div class="col-10 mt-2">
      <img src="assets/images/logo2.png" class="logo" routerLink="/home">
    </div>
    <div class="d-flex pull-right">
      <button class="create-account" [routerLink]="['../register']">Create Account</button>
      <button class="sign-in" routerLink="../login">Sign in</button>
    </div>
  </div>
  <div>
    <div class="sub">
      <h3 class="responsive-display col-12">
        <div class="mb-2">
          <a class="sub1" routerLink="#">Products</a>
        </div>
        <div class="mb-2">
          <a class="sub1" routerLink="/aboutus">About Us</a>
        </div>
        <div class="mb-2">
          <a class="sub1" routerLink="#">Insights</a>
        </div>
        <div class="mb-2">
          <a class="sub1" routerLink="/contactus">Contact Us</a>
        </div>
        <!-- <div class="explore-box">
          <input type="text" placeholder="explore now" class="search-box"><i class="fa fa-search search-icon"></i>
        </div> -->
      </h3>
    </div>
  </div>
</div>
<div class="main-image-container">
  <img src="assets/images/mainimg.jpg" class="main-image">
  <div class="container-text">
    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome to Netlink !!</h2>
    <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">We provide technology solutions to grow your business
    </h4>
    <button class="explore-button">Explore More</button>
  </div>
</div>

<div class="responsive-display">
  <div class="first-image">
    <img src="assets/images/Capture.PNG" class="image-ai">
  </div>
  <div class="two-images mb-3">
    <img src="assets/images/download.jpg" class="image-school">
    <img src="assets/images/image.jpg" class="image-business">
  </div>
  <div class="fourth-image">
    <img src="assets/images/first0.jpg" class="image-info">
  </div>
</div>
<div class="footer">
  <h4 class="privacy-policy">Privacy Policy</h4>
  <h5 class="copyright">Copyright ©2020 Netlink. All Rights Reserved.</h5>
</div>