<input
  type="checkbox"
  class="form-check-input fa fa fa-star"
  id="exampleCheck1"
  (change)="onRatingClick($event)"
  [checked]="params.value"
  [ngStyle]="{'color': exampleCheck1===1 ? 'gold' : 'black'}"
/>
<input
  type="checkbox"
  class="form-check-input fa fa fa-star"
  id="exampleCheck2"
  (change)="onRatingClick($event)"
  [checked]="params.value"
  [ngStyle]="{'color': exampleCheck2===2 ? 'gold' : 'black'}"
/>

<input
  type="checkbox"
  class="form-check-input fa fa fa-star"
  id="exampleCheck3"
  (change)="onRatingClick($event)"
  [checked]="params.value"
  [ngStyle]="{'color': exampleCheck3===3 ? 'gold' : 'black'}"
/>

<input
  type="checkbox"
  class="form-check-input fa fa fa-star"
  id="exampleCheck4"
  (change)="onRatingClick($event)"
  [checked]="params.value"
  [ngStyle]="{'color': exampleCheck4===4 ? 'gold' : 'black'}"
/>

<input
  type="checkbox"
  class="form-check-input fa fa fa-star"
  id="exampleCheck5"
  (change)="onRatingClick($event)"
  [checked]="params.value"
  [ngStyle]="{'color': exampleCheck5===5 ? 'gold' : 'black'}"
/>

