<!-- 
        <div class="bg-light min-vh-100 d-flex flex-row align-items-center" style="height: 100vh;">
            <div class="container" >
                <div class="d-flex justify-content-center">
                    <div class="col-md-7">
                        <div class="card rounded-0 shadow">
                            <div class="card-body">
                                <h3 class="mb-3">Forget Password</h3>
                                <form>
                                    <div class="form-group">
                                        <c-input-group class="mb-0">
                                            <span cInputGroupText>@</span>
                                            <input autoComplete="email" cFormControl placeholder="Email" />
                                          </c-input-group>
                                        <small id="emailHelp" class="form-text text-muted">we'll send forget password link on your email.</small>
                                    </div>
                                    <button type="submit" class="btn btn-info shadow mt-3">Forget password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

    
            </div>
  -->