<div class="first">
  <div class="bar">
    <img src="/assets/img/images/logo2.png" class="logo" routerLink="/home">
    <button class="create-account"  [routerLink]="['../register']">Create an Account</button>
    <button class="sign-in" routerLink="/login">Sign in</button>
  </div>
  <div>
    <nav class="sub">
      <h3>
        <a class="sub1"  routerLink="#">Products</a>
        <a class="sub1" routerLink="/aboutus">About Us</a>
        <a class="sub1" routerLink="#">Insights</a>
        <a class="sub1" routerLink="/contactus">Contact Us</a>
        <div class="explore-box">
          <input type="text" placeholder="explore now" class="search-box"><i class="fa fa-search search-icon" ></i>
        </div>
      </h3>
    </nav>
  </div>
</div>
<div>
  <img src="assets/img/images/contactus.jpg" class="contactus">

</div>
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name.." class="input">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." class="input">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="Email address" placeholder="Your email.." class="input">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Contact Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="contact" name="contact" placeholder="Your contact number.." class="input">
      </div>
    </div>
  </form>
</div>
 <footer>
  <div class="second">
    <div class="coloumn-one">
      <img src="/assets/img/images/logofooter.png" style="width: 100px;height: 100px;"><br>
      <p style="margin-top: 5px ;font-size: 16px;">There is no challenge that our team can’t overcome!
        We would love to take your organization forward with stellar business solutions.
        HQ: 999 Tech Row | Madison Heights | MI 48071</p>
      <h4 style="font-size: 16px;">Phone: 1-866-580-3400</h4>
      <h4 class="email" style="font-size: 16px;">Email: <i class="email-link" style="font-size: 16px;">corporate@netlink.com</i></h4>
    </div>

    <div class="coloumn-two">
      <h3>OUR SERVICES</h3><br>
      <a class="link">BI and Analytics Services</a><br>
      <a class="link">Software Factory as a Service</a><br>
      <a class="link">Enterprise Mobility</a><br>
      <a class="link">ERP Services</a><br>
      <a class="link">Low-Code Services</a><br>
      <a class="link">Infrastructure Services</a><br>
      <a class="link">Document Imaging Services</a><br>
    </div>

    <div class="coloumn-three">
      <h2 style="margin-left: 20px;font-size: 20px ">FOLLOW US ON</h2><br>
      <div class="icons">
        <img src="assets/img/images/insta.png" class="insta">
        <img src="assets/img/images/facebook.png" class="fb">
        <img src="assets/img/images/youtubepng.png" class="youtube">
        <img src="assets/img/images/linkedin.png" class="linkedin">
      </div>
    </div>
    </div>
  </footer>

<div class="footer">
  <h4 class="privacy-policy">Privacy Policy</h4>
  <h5 class="copyright">Copyright ©2020 Netlink. All Rights Reserved.</h5>
</div>
