<div class="first">
  <div class="bar">
    <img src="/assets/img/images/logo2.png" class="logo" routerLink="/home">
    <button class="create-account"  [routerLink]="['../register']">Create an Account</button>
    <button class="sign-in" routerLink="../login">Sign in</button>
  </div>
  <div>
    <nav class="sub">
      <h3>
        <a class="sub1" routerLink="#">Products</a>
        <a class="sub1" routerLink="/aboutus">About Us</a>
        <a class="sub1" routerLink="#">Insights</a>
        <a class="sub1" routerLink="/contactus">Contact Us</a>
        <div class="explore-box">
          <input type="text" placeholder="explore now" class="search-box"><i class="fa fa-search search-icon" ></i>
        </div>
      </h3>
    </nav>
  </div>
</div>
<div>
  <img src="assets/img/images/aboutus.PNG" class="aboutus">

</div>
<div class="history-container">
  <div style="display: block;width: 50%;">
    <h1 class="history-heading">Our History</h1>
    <p class="para">In 1998, Anurag Shrivastava had an idea, and the blueprint of an IT start-up was drawn.<br>
      The vision was to create a data-driven platform to benefit aspiring young professionals.<br>
      The outcome was Netlink – a value-added technology and business solutions provider
      that propels innovation and transformation.<br>
      With a mission to help companies reach peak performance with the technology solutions
      and services they need.<br>
      Today, Netlink has more than ten offices worldwide. Leverages streamlined processes, advanced systems, superior
      technology, and proven expertise to deliver robust IT solutions.
      Connect with us on LinkedIn, Twitter, YouTube, and FaceBook.</p>
  </div>
  <img src="assets/img/images/history.png" class="history-image">
</div>
<div class="footer">
  <h4 class="privacy-policy">Privacy Policy</h4>
  <h5 class="copyright">Copyright ©2020 Netlink. All Rights Reserved.</h5>
</div>
