<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>PORTFOLIO</title>
    <link rel="stylesheet" type="text/css" href="styleotp.css">
</head>
<body>
<div style="width: 60%;height: 100%;font-family: Tangerine;">
    <h4 th:text="${'Greetings!'}" class="text"></h4>

    <h4 th:text="${'Your request for Reward ' + rewardname + '  has been rejected by ' + name + ' on ' + date  }" class="text"></h4>
    <h4 th:text="${'Your points deduction for this request would be reset.'}" class="text"></h4>
    <br>
    <h4 class="text" th:text="${'Thank You'}"></h4>

</div>
</body>
</html>
