<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <title>PORTFOLIO</title>
    <link rel="stylesheet" type="text/css" href="styleotp.css">
  </head>
    <body>
        <div style="width: 60%;height: 100%;font-family: Tangerine;">
<!--            <img src="fedora.jpg" class="fedora-image">-->
<!--            <img src="otpsmall.jpg" class="otp-image">-->
<!--            <img src="logo5.png" class="logo">-->
            <h1 th:text="${'Hi ' + name}" class="text"></h1>
            <h2 class="heading-otp">Your one time password is....</h2>
            <h2 th:text="${otp}" class="text"></h2>
        </div>
    </body>
</html>
