<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>PORTFOLIO</title>
  <link rel="stylesheet" type="text/css" href="styleotp.css">
</head>
<body>
<div style="width: 60%;height: 100%;font-family: Tangerine;">
  <!--            <img src="fedora.jpg" class="fedora-image">-->
  <!--            <img src="otpsmall.jpg" class="otp-image">-->
  <!--            <img src="logo5.png" class="logo">-->
  <h2 th:text="${'hy' + name }" class="text"></h2>
<!--  <h2 class="heading-password">password is....</h2>-->
<!--  <h2 th:text="${password}" class="text"></h2>-->






</div>
</body>
</html>
