@import url(https://fonts.googleapis.com/css?family=Tangerine);

.birthday-image{
    width: 100%;
    height: 100%;
    position: relative;

}
.heading{
    color: rgb(251 218 117);
    position: absolute;
    top: 22%;
    font-size: 62px;
    left: 10%;
    font-family: Tangerine;
    font-weight: bold;
}
.birthday{
    position: absolute;
    top: 55%;
    left: 5%;
    color: rgb(251 218 117);
    font-size: 30px;
    font-family: Tangerine;
    font-weight: bold;
}
.regards{
    position: absolute;
    top: 71%;
    left: 12%;
    color: rgb(251 218 117);
    font-size: 30px;
    font-family: Tangerine;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 2%;
    left: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.7;

}
.text{
    position: absolute;
    top: 50%;
    left: 5%;
    color: rgb(251 218 117);
    font-size: 30px;
    font-family: Tangerine;
    font-weight: bold;
}