<div class="bg-image">
<a routerLink="/verification" class="mx-4 mt-5" style="color: white">Verification</a>
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="col-md-4 text-center">
      <div class="row">
        <div class="col-sm-12 mt-5 bgWhite">
          <img src="../../../../../../../assets/images/success.PNG" height="300px"/>
          <div class="d-flex justify-content-between">
            <div><img src="../../../../../../../assets/images/right.png" width="60" height="60" alt="Registration successful"
                style="display: block; border: 0px; margin-left: 8px;" /></div>
            <div>
              <h5 style="font-size: 45px; font-weight: 400; margin: 2; color:#5d8d27">
                Registration Successful
              </h5>
            </div>
          </div>

          <hr class="mt-4">
          Thank you for registering with us! Your Data has been saved successfully and you will be notified via text for
          further updates.
        </div>
      </div>
    </div>
  </div>
</div>
</div>