.modal-header {
    color: #fff;
    background-color: #005391;

}
.modal-footer{
    padding: 1%;
}
.modal-title{
    float: left;
    margin-right: auto;
}

.fa-exclamation-circle{
    font-size: 30px;
}

.btn-close{
    color:#fff !important;
}