.grid-center{
    display: block;
    justify-content: center;
    margin-top: 4%;
}

.marginLeft{
    margin-left: 80%;
    margin-top: 0%;
}
.select-rec-count-position {
    margin-left: 40%;
}

.ag-body-horizontal-scroll-viewport {
    overflow-x: hidden !important;
  }
  