<div class="mt-1 mx-1">
    <div class="col-md-12 col-md-offset-3 card" style="overflow-x: hidden">
        <h4 class="modal-title mx-2 mt-2 mb-2" style="color: #234280;font-weight: bold;">
            Training Monitor
        </h4>
        <form [formGroup]="ratingForm">
            <div class="progressStep">
            <ul id="progressbar" class="d-flex p-0 mt-2 mx-5"
                style="margin-right: 8.5rem!important;">
                <li [ngClass]="step >= 1 ? 'active ' : 'inactive'"></li>
                <a [ngClass]="connectorC >=2 ? 'on' : 'off'"><span class="connector-visibility">
                        {{connector}}</span></a>
                <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
                <a [ngClass]="connectorC >=3 ? 'on' : 'off'"><span class="connector-visibility">
                        {{connector}}</span></a>
                <li [ngClass]="step == 3 ? 'active' : 'inactive'"></li>
            </ul>
            <ul class="d-flex p-0 mt-0 mx-5"
                style="margin-top: -1rem !important; margin-right: 8.5rem!important;">
                <li class="content margin-x-3-4">RATING</li>
                <li class="content margin-x-10">VERIFY ATTENDANCE</li>
                <li class="content" style="margin-left: 10rem!important;
    margin-right: -2rem!important;">RATING</li>
            </ul>
        </div>

            <!-- 1. Rating -->

            <fieldset *ngIf="step == 1">
                <div class="row mx-3 mt-2">
                    <div class="stepHeading">
                        <h5 style="color: #ee0979;">
                            Step {{step}} :
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <label>Batch Code</label>
                        <div class="d-flex">
                            <div>
                                <input type="text" class="form-control mx-2" formControlName="batchCode"
                                    placeholder="Enter Batch Code" [readonly]=readOnlyBatchCode />
                            </div>
                            <div class="mx-3 mt-1">
                                <button class="fa fa-search px-2 py-1" (click)="searchByBatchCode()"
                                    [disabled]="searchBtnBatchCode"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label>Scan QR to fetch Batch Info</label>
                        <!-- <i class="fa fa-camera mx-5"> -->
                        <div>
                            <input type="file" accept="image/*" capture="environment" (change)="uploadDoc($event)">
                        </div>
                        <!-- </i>  -->
                    </div>

                    <div class="grid-card-body mt-3 mx-0">
                        <ag-grid-angular style="width: 100%; height: 60vh;"
                            (firstDataRendered)="onFirstDataRendered($event)" class="ag-theme-alpine"
                            [animateRows]="true" [rowData]="trainersList" [gridOptions]="gridOptions"
                            [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents"
                            [paginationPageSize]="paginationPageSize" [animateRows]="true" [pagination]="true"
                            (gridReady)="onGridReady($event,value)">
                        </ag-grid-angular>
                    </div>
                    <div>
                        <button class="btn btn-primary pull-right mt-3 mx-5 mb-3" [disabled]="ratingForm.invalid"
                            (click)="next()">Save & Next</button>
                    </div>
                </div>
            </fieldset>
        </form>


        <div bsModal #primaryModal="bs-modal" class="modal modal-boxAdduser fade" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden !important;"
            [config]="{backdrop :'static'}" mouse="false">

            <app-remark-pop-up [id]="id" [allGroupFromParent]="allGroupFromParent"
                (formInputText)="onAddBtnClicked($event)" (getId)="getId($event)"
                (changeIndicator)="changeIndicator($event)" (dataLoaded)="dataLoaded($event)">
            </app-remark-pop-up>
        </div>

        <div *ngIf="step===2">
            <form [formGroup]="verifyAttendanceForm">
                <div>
                    <div class="mx-5 mt-3 row">
                        <div class="stepHeading">
                            <h5 style="color: #ee0979;">
                                Step {{step}} :
                            </h5>
                        </div>

                        <div class="col-md-3">
                            <label>Check For</label>
                            <ng-select placeholder="Select Check For" [clearable]="false" [searchable]="false"
                                [dropdownPosition]="'bottom'" [items]="checkFor" bindLabel="name" bindValue="id"
                                formControlName="checkFor" name="ok" (change)="selectedCheckFor($event)"
                                [readonly]="readOnly">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label>Session</label>
                            <ng-select placeholder="Select Session" [clearable]="false" [searchable]="false"
                                [dropdownPosition]="'bottom'" [items]="session" bindLabel="name" bindValue="name"
                                formControlName="session" name="ok" (change)="selectedSession($event)"
                                [readonly]="readOnly">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label>Date</label>
                            <input type="date" placeholder="Date" class="form-control" formControlName="date"
                                readonly />
                        </div>

                        <div class="col-md-3">
                            <button class="btn btn-primary-blue w-75 mt-4" [disabled]="isViewDisabled"
                                (click)="viewDetail()">
                                View Detail
                            </button>
                        </div>
                    </div>

                    <div class="mt-3 mx-5" *ngIf="displayParticipantGrid">
                        <ag-grid-angular style="width: 100%; height: 55vh;"
                            (firstDataRendered)="onFirstDataRendered($event)" class="ag-theme-alpine"
                            [animateRows]="true" [rowData]="participantData" [gridOptions]="gridOptionsTrainerOrTrainee"
                            [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponentsTrainerTrainee"
                            [paginationPageSize]="paginationPageSize" [animateRows]="true" [pagination]="true"
                            (gridReady)="onGridReadyTraineeTrainer($event,value)">
                        </ag-grid-angular>

                    </div>

                    <div class="mt-5 mx-5" *ngIf="!displayParticipantGrid" style="text-align: center;">
                        <div> <strong class="text-muted mt-3 mb-3">No Record Found!</strong></div>
                        <div><button class="btn btn-dark-blue mt-3 mb-3" (click)="onRaiseRedFlagClicked()">Raise Red Flag</button></div>
                    </div>
                    

                    <button type="button" class="btn btn-primary-blue pull-left mx-5 mt-5 mb-5" (click)="previous()">
                        Previous
                    </button>
                    <button class="btn btn-primary pull-right mx-5 mt-5 mb-5" (click)="next()">Save & Next</button>
                </div>




            </form>
        </div>

        <div *ngIf="step===3">
            <form [formGroup]="ratingQuestionnaireForm">
                <div>
                    <div class="mx-5 mt-3 row">
                        <div class="stepHeading">
                        <h5 style="color: #ee0979;">
                            Step {{step}} :
                        </h5>
                    </div>
                        <div >
                        <label class="col-8" style="font-weight: bold;">Questions</label>
                        
                       </div>

                       <div formArrayName="ratingQuestions">
                        <div *ngFor="let question of ratingQuestion.controls; let questionIndex=index;" class="mt-3 row">
                            <div [formGroupName]="questionIndex">
                                <!-- <label class="question col-6" >{{question.question}}</label> -->
                                <div> Q{{questionIndex + 1}}.
                                    <input type="text" formControlName="question" class="col-8 noBorder" readonly/>
                                </div>
                                <div>
                                    <input type="radio" formControlName="answer" class="col-1 form-check-input mx-5" value=true />
                                    <label class="col-1 ">Yes</label>
                                </div>
                                <div>  
                                    <input type="radio" formControlName="answer" class="col-1 form-check-input mx-5" value=false />
                                    <label class="col-1 ">No</label>
                                </div>
                                <input type="text" formControlName="monitorQuestionId" hidden />
                            </div>
                        </div>
                        </div>
                        </div>

                    <div class="mt-3 mx-5">
                        <label>Comments / Suggestion</label>
                        <input type="text" placeholder="Enter Here" class="form-control" formControlName="comments" />
                    </div>

                    <div class="mt-3 mx-5">
                        <label>Upload Photos</label>
                        <div>
                        <input type="file" (change)="uploadPhotos($event)" formControlName="uploadPhotos">  
                        </div>
                    </div>

                    <div class="mt-3 mx-5" *ngIf="photosData.length !== 0">
                        <ag-grid-angular style="width: 100%; height: 60vh;"
                            (firstDataRendered)="onFirstDataRendered($event)" class="ag-theme-alpine"
                            [animateRows]="true" [rowData]="photosData" [gridOptions]="gridOptions"
                            [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponentsRemovePhoto"
                            [paginationPageSize]="paginationPageSize" [animateRows]="true" [pagination]="true"
                            (gridReady)="onGridReadyPhotos($event,value)">
                        </ag-grid-angular>

                    </div>
                    <button class="btn btn-primary pull-right mt-3 mx-5 mb-3" (click)="next()">Submit</button>
                </div>




            </form>
        </div>

    </div>
</div>